### 1. Convert a integer to a floating-point number.

In [24]:
a= 23  #integer number
print("a=",a)
print("type of a:", type(a))
int_to_flt = float(a)
print("Converted integer to float:", int_to_flt)
print("type of converted no.:", type(int_to_flt))

a= 23
type of a: <class 'int'>
Converted integer to float: 23.0
type of converted no.: <class 'float'>

### 2. Convert a float to a integer.

In [26]:
b= 23.5  #float number
print("b=",b)
print("type of b:", type(b))
flt_to_int = int(b)
print("Converted float to integer:", flt_to_int)
print("type of converted no.:", type(flt_to_int))

b= 23.5
type of b: <class 'float'>
Converted float to integer: 23
type of converted no.: <class 'int'>

### 3. Convert a integer to a string.

In [22]:
c= 23  #integer number
print("c=",c)
print("type of c:", type(c))
int_to_str = str(c)
print("Converted integer to string:", int_to_str)
print("type of converted no.:", type(int_to_str))

c= 23
type of c: <class 'int'>
Converted integer to string: 23
type of converted no.: <class 'str'>

### 4. Convert a list to a tuple.

In [31]:
List_1 = [11,23.4,"Answer",78,"varsha"]
print("List:",List_1)
Lst_to_tpl = tuple(List_1)
print("Tuple of a list:", Lst_to_tpl)

List: [11, 23.4, 'Answer', 78, 'varsha']
Tuple of a list: (11, 23.4, 'Answer', 78, 'varsha')

### 5. Convert a tuple to a list.

In [32]:
tup_1 =(11,22,34,'varsha',34.5,'56.78')
print("Tuple:",tup_1)
tpl_to_lst= list(tup_1)
print("List of a tuple:", tpl_to_lst)

Tuple: (11, 22, 34, 'varsha', 34.5, '56.78')
List of a tuple: [11, 22, 34, 'varsha', 34.5, '56.78']

### 6. Convert a decimal number to binary.

In [36]:
dec=23
print("Deciaml Number:",dec)
dec_to_bin = bin(dec)
print("Binary number of decimal:",dec_to_bin)

Deciaml Number: 23
Binary number of decimal: 0b10111

### 7. Convert a non-zero number to boolean.

In [37]:
number = 10
print("Number:", number)
num_to_bool = bool(number)
print("Boolean of the number:", num_to_bool)

Number: 10
Boolean of the number: True