### 1. Print number from 1 to 5 using a while loop.

In [3]:
i=1
while i<6:
    print(i)
    i +=1

1
2
3
4
5

### 2. Calculate the sum of number from 1 to 10 using a while loop.

In [12]:
add = 0
i=1
while i<11:
    add +=i
    i +=1
print("The sum of 1 to 10 numbers is:", add)

The sum of 1 to 10 numbers is: 55

### 3.Calculate the factorial of a number using a for loop.

In [30]:
number = int(input('Enter a number:'))
fact= 1
for i in range(1,number+1):
    fact *=i
print("Factorial of a number {} is:".format(number),fact)

Enter a number:4
Factorial of a number 4 is: 24

### 4. Count the number of vowels in a string using a for loop.

In [34]:
vowels=['a','e','i','o','u']
vow_count =0
str_1 =input("Enter a name in lower case:")
for i in str_1:
    if i in vowels:
        vow_count +=1
print(vow_count)

Enter a name in lower case:happy learning
4

### 5.Print a pattern using nested loop.

In [57]:
for i in range(6):        # i will take values from 0 to 6 and this loop is for rows. 6 is nothing but a number of rows
    for j in range(i+1):  # j will be +1 of i and this loop is for columns.
        print("@",end='') # print @ for each column
    print()               # to change line

@
@@
@@@
@@@@
@@@@@
@@@@@@

In [64]:
for i in range(5,-1,-1):        
    for j in range(i+1):  
        print("@",end='') 
    print()

@@@@@@
@@@@@
@@@@
@@@
@@
@

### 6. Generate a multiplication table using nested loop.

In [70]:
for i in range(1,11):
    for j in range(2,11):
        print(i*j,end='\t')
    print()

2	3	4	5	6	7	8	9	10
4	6	8	10	12	14	16	18	20
6	9	12	15	18	21	24	27	30
8	12	16	20	24	28	32	36	40
10	15	20	25	30	35	40	45	50
12	18	24	30	36	42	48	54	60
14	21	28	35	42	49	56	63	70
16	24	32	40	48	56	64	72	80
18	27	36	45	54	63	72	81	90
20	30	40	50	60	70	80	90	100